{% extends "layout.html" %} {% block title %}{{ this.title }}{% endblock %} {% block body %}
<header class="banner">
    <a href="#what">
    {% set banner_heading_1_words = this.banner_heading_1.split(' ') %}
    {% set banner_heading_2_words = this.banner_heading_2.split(' ') %}
    {% set banner_content_1_words = this.banner_content_1.split(' ') %}
    {% set banner_content_2_words = this.banner_content_2.split(' ') %}
    <h1>{% for w in banner_heading_1_words %}<span class="l1">&nbsp;{{ w }}</span>{% endfor %}{% if this.banner_heading_2 %}<br />{% for w in banner_heading_2_words %}<span class="l2">&nbsp;{{ w }}</span>{% endfor %}{% endif %}</h1>
    <p>
      {% for w in banner_content_1_words %}<span class="l1">&nbsp;{{ w }}</span>{% endfor %}{% if this.banner_content_2 %}<br />{% for w in banner_content_2_words %}<span class="l2">&nbsp;{{ w }}</span>{% endfor %}{% endif %}
    </p>
    <span class="down animated bounce"><svg><use xlink:href="#icon-down" /></svg></span>
  </a>
</header>
{% include 'includes/nav.html' %}
<section id="what">
    <div>
        <div class="about">
            <header>
                <h2>{{ this.intro_heading }}</h2>
                {{ this.intro_body }} {% if this.intro_body_2 and (this.intro_button is not defined) %} {{ this.intro_body_2 }} {% endif %}
            </header>
            {% if this.intro_button %}
            <a>{{ this.intro_button }}</a> {% endif %}
        </div>
        <div class="this-year">
            <header>
                <h2>Open Data<br /> Day {{ this.next_date.strftime('%Y') }}</h2>
                {{ this.year_intro }}
            </header>
            <ul>
                <li>
                    <svg><use xlink:href="#icon-equality" /></svg> {{ this.year_label_1 }}
                </li>
                <li>
                    <svg><use xlink:href="#icon-environment" /></svg> {{ this.year_label_2 }}
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="map">
    <div id="map-container" style="height: inherit">
    </div>

    <section class="modal--show" id="modal-example" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-inner">
            <div class="map">
                <!-- detail map here -->
            </div>
            <div class="modal-content">
                <div class="description">
                    <h3>Saint Catharines</h3>
                    <p>
                        On March 5th come to Cowork Niagara to help create a map or other technological design to help to explain...
                    </p>
                    <ol>
                        <li>
                            Where citizens can give food
                        </li>
                        <li>
                            Where citizens can find food
                        </li>
                    </ol>
                    <p>
                        You do not need any special skills to attend this event. We welcome all! Please feel free to join us.
                    </p>
                    <p>
                        If possible, please bring a laptop and remember your power cord! Project work from the day will be developed on GitHub. You do not need to have any prior knowledge of GitHub to participate.
                    </p>
                    <p>
                        Food and beverages (with healthy, vegan and gluten-free options available) will be served throughout the day thank you to generous event sponsors.
                    </p>
                    <p>
                        Thank you to the Niagara Region, Software Niagara, Niagara Connects and Cowork Niagara for making this event possible.
                    </p>
                </div>
                <div class="meta">
                    <h5>Date &amp; Time</h5>
                    <p>
                        Sat, 4 March 2018<br /> 9:00 AM – 5:00 PM EST
                    </p>

                    <h5>Location</h5>
                    <p>
                        Cowork Niagara<br /> 108 Saint Paul Street<br /> Saint Catharines, ON L2R<br /> Canada
                    </p>
                </div>
            </div>
        </div>
        <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">?</a>
    </section>
    <header>
        <div>
            <div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfBBp5CZXe2M8wXulTNgRTZWo1PD2raB6IEEha9FJaq6hVSfQ/viewform" rel="external">{{ this.register_text }}</a>
                <span class="count"><span id="event-number">0</span> {{ this.events_registered }}</span>
            </div>
        </div>
    </header>
</section>

<section id="who">
    <div>
        <header>
            <h2>{{ this.who_heading }}</h2>
            {{ this.who_body }}
        </header>
        <ul>
            <li>
                <span>
          <svg><use xlink:href="#icon-user-outline" /></svg>
        </span>
                <h3>{{ this.who_title_1 }}</h3>
                {{ this.who_description_1 }}
            </li>
            <li>
                <span>
          <svg><use xlink:href="#icon-card" /></svg>
        </span>
                <h3>{{ this.who_title_2 }}</h3>
                {{ this.who_description_2 }}
            </li>
            <li>
                <span>
          <svg><use xlink:href="#icon-brush" /></svg>
        </span>
                <h3>{{ this.who_title_3 }}</h3>
                {{ this.who_description_3 }}
            </li>
            <li>
                <span>
          <svg><use xlink:href="#icon-code-outline" /></svg>
        </span>
                <h3>{{ this.who_title_4 }}</h3>
                {{ this.who_description_4 }}
            </li>
            <li>
                <span>
          <svg><use xlink:href="#icon-chart-bar" /></svg>
        </span>
                <h3>{{ this.who_title_5 }}</h3>
                {{ this.who_description_5 }}
            </li>
        </ul>
    </div>
</section>

<section id="resources">
    <div>
        <header>
            <h2>{{ this.resources_heading }}</h2>
            <svg class="research"><use xlink:href="#icon-research" /></svg>
            <svg class="money"><use xlink:href="#icon-money" /></svg>
            <svg class="mapping"><use xlink:href="#icon-mapping" /></svg>
            <svg class="equality"><use xlink:href="#icon-equality" /></svg> {{ this.resources_intro }}
        </header>
        <a href="#resources">{{ this.resources_button }}</a>
        <article>
            <h3>{{ this.resources_materials_heading }}</h3>
            {{ this.resources_materials_text }}
            <h3>{{ this.resources_ideas_heading }}</h3>
            <div>
                {{ this.resources_ideas_intro }}
                <span class="theme">
          <h4>{{ this.resources_ideas_theme_1 }}</h4>
          {{ this.resources_ideas_theme_1_text }}
        </span>
                <span class="theme">
          <h4>{{ this.resources_ideas_theme_2 }}</h4>
          {{ this.resources_ideas_theme_2_text }}
        </span>
                <span class="theme">
          <h4>{{ this.resources_ideas_theme_3 }}</h4>
          {{ this.resources_ideas_theme_3_text }}
        </span>
                <span class="theme">
          <h4>{{ this.resources_ideas_theme_4 }}</h4>
          {{ this.resources_ideas_theme_4_text }}
        </span>
                <span class="theme">
          <h4>{{ this.resources_ideas_theme_5 }}</h4>
          {{ this.resources_ideas_theme_5_text }}
        </span>
            </div>
        </article>
    </div>
</section>

<section id="guests">
    <div>
        <header>
            <h2 class="title is-2">Conheça os nossos convidados</h2>
            {{ this.guests_intro }}
        </header>

        <article>
        </article>

        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="{{ '/images/guests/abertura-evandro-nascimento.png'|url }}" alt="Foto do Evandro Nascimento">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Evandro do Nascimento</p>
                        <p class="subtitle is-6">Reitor da <a href="https://www.uefs.br/">Universidade Estadual de Feira de Santana - UEFS</a></p>
                        <p class="subtitle is-6">Abertura</p>
                    </div>
                </div>

                <div class="content">
                    Evandro do Nascimento Silva possui graduação em Ciências Biológicas e também o mestrado em Ciências Biológicas, pela Universidade Federal da Paraíba, e doutorado pela Universidade de Michigan, EUA. Atualmente é Professor Titular do Departamento de Ciências
                    Biológicas da Uefs e foi reeleito para o cargo de reitor.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="{{ '/images/guests/abertura-fernanda-campagnucci.jpg'|url }}" alt="Foto da Fernanda Campagnucci">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Fernanda Campagnucci</p>
                        <p class="subtitle is-6">Diretora da <a href="http://br.okfn.org/">Open Knowledge Brasil</a></p>
                        <p>Abertura: "Dados abertos para uma cidade democrática e inteligente"</p>
                    </div>
                </div>

                <div class="content">
                    <p>
                        Diretora-executiva da Open Knowledge Brasil, organização da sociedade civil que atua para democratizar o acesso a dados e ampliar a transparência e a participação política com o uso de tecnologias cívicas. Integrou a carreira de gestão pública na Prefeitura
                        de São Paulo, onde foi responsável pela política de transparência e integridade, além de ter coordenado projetos de inovação e governo aberto como o Pátio Digital. Graduada em Jornalismo e mestre em Educação, é doutoranda em Administração
                        Pública pela FGV-SP.
                    </p>
                    <a href="https://twitter.com/fecampa">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="{{ '/images/guests/mesa1-amanda-lima.jpeg'|url }}" alt="Foto da Amanda Lima">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Amanda Faria Lima</p>
                        <p class="subtitle is-6">Co-fundadora da <a href="https://institutodegovernoaberto.com.br/">Instituto de Governo Aberto - IGA</a></p>
                        <p>Mesa Redonda I - Transparência como Política Pública: "Transparência para defesa de direitos"</p>
                    </div>
                </div>

                <div class="content">
                    <p>
                        Apaixonada e atuante pelo governo aberto, transparência e promoção da integridade pública. Internacionalista pela UFABC e Especialista em Gestão Pública pelo INSPER. Já atuei no setor público, na Controladoria Geral do Município de São Paulo, com governo aberto, transparência e acesso à informação. Sou cofundadora do Instituto de Governo Aberto - IGA e presto consultoria em integridade socioambiental, conectando o combate à corrupção à promoção da preservação ambiental.
                    </p>
                    <a href="https://twitter.com/afarialima1">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/amanda-faria-lima/">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="{{ '/images/guests/mesa1-george-santiago.jpg'|url }}" alt="Foto do George Santiago">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">George Santiago</p>
                        <p class="subtitle is-6">TCE-BA</p>
                        <p>Mesa Redonda I - Transparência como Política Pública: "Estratégias para estimular a divulgação de Dados Abertos pela Administração Pública"</p>
                    </div>
                </div>

                <div class="content">
                    <p>
                        Membro do Observatório Social de Santo Antônio de Jesus. Assessor do Ministério Público de Contas que atua junto ao Tribunal de Contas do Estado da Bahia. Moderador do Grupo "Dados Abertos .Br". Graduação em Direito – Universidade Federal da Bahia (UFBA); Graduando em Ciências Contábeis – UFBA; Curso de formação em Ciência de Dados pela Data Science Academy.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="{{ '/images/guests/mesa1-rafael-velame.jpeg'|url }}" alt="Foto do Rafael Velame">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Rafael Velame</p>
                        <p class="subtitle is-6">Blog do Velame / Dados Abertos de Feira</p>
                        <p>Mesa Redonda I - Transparência como Política Pública: "Transparência em Feira"</p>
                    </div>
                </div>

                <div class="content">
                    <p>
                        Formado em Comunicação Social - Habilitação em Jornalismo. Online desde 2000, fundador do Portal FSonline, Bahiagora, Blog da Feira e Blog do Velame. Estudou Redes Sociais, Colaboração e Mobilidade na PUC-SP, Marketing Político e Campanhas Eleitorais na PUC-SP e Comunicação Empresarial na ESPM-SP. Atuou entre 2017 e 2020 como âncora do Café das 6 na Rádio Globo. Autor do livro Palanque Offline.
                    </p>
                    <a href="https://twitter.com/rafaelvelame">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="https://pbs.twimg.com/profile_images/1334278150558199818/jmPzoGYW_400x400.jpg" alt="Foto do Jonathas Monteiro">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Jonathas Monteiro</p>
                        <p class="subtitle is-6">Vereador em Feira de Santana</p>
                        <p>Mesa Redonda I - Transparência como Política Pública</p>
                    </div>
                </div>

                <div class="content">
                    <p>
                        Vereador eleito em Feira de Santana pelo PSOL, historiador e professor da Rede Estadual de Ensino da Bahia.
                    </p>
                    <a href="https://twitter.com/jhonatas50050">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ '/images/guests/mesa2-luana-sales.jpeg'|url }}" alt="Foto da Luana Farias">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Luana Farias Sales Marques</p>
                            <p class="subtitle is-6">Arquivo Nacional / PPGCI IBICT-UFRJ / GoFAIR BRASIL</p>
                            <p>Mesa Redonda II - Ciência Aberta: "Compartilhamento de Dados de pesquisa para o avanço da Ciência"</p>
                        </div>
                    </div>
    
                    <div class="content">
                        <p>
                            Doutora em Ciência da Informação pelo Programa de Pós-Graduação do IBICT/UFRJ (2011-2014). Mestre em Ciência da Informação pelo convênio UFF/IBICT (2004-2006), Graduação em Biblioteconomia e Documentação pela Universidade Federal Fluminense (2003). Bolsista de Produtividade Pq2. Atuou como Analista em C & T da CNEN, no Instituto de Engenharia Nuclear, participando da criação da linha de pesquisa de Gestão do Conhecimento Nuclear. Atualmente exerce o cargo de Coordenadora Geral de Acesso e Difusão de Acervos do Arquivo Nacional. É Analista em C & T do MCTIC/IBICT, atuando como docente do Programa de Pós-graduação em Ciência da Informação do convênio IBICT-UFRJ e Coordenadora da Rede de Implementação do GO FAIR Brasil.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ '/images/guests/mesa2-bethania-almeida.jpg'|url }}" alt="Foto de Bethania Almeida">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Bethania de A. Almeida</p>
                            <p class="subtitle is-6">Pesquisadora do CIDACS/FIOCRUZ</p>
                            <p>Mesa Redonda II - Ciência Aberta: "Dados para Pesquisa em Saúde Pública na Perspectiva da Ciência Aberta"</p>
                        </div>
                    </div>
    
                    <div class="content">
                        <p>
                            Bethânia Almeida é socióloga com doutorado em saúde pública. Servidora da FIOCRUZ atua no Centro de Integração de Dados e Conhecimentos para Saúde (CIDACS) e em outras iniciativas institucionais como o Grupo de Trabalho em Ciência Aberta. Possui experiência em gestão científica, tecnológica e da inovação, e na condução e coordenação de pesquisas. Dentre as suas áreas de interesse estão a governança de dados para pesquisa na área da saúde pública e a sociologia da ciência intensiva no uso de dados.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="{{ '/images/guests/mesa2-washington-rocha.jpeg'|url }}" alt="Foto do Washington Franca-Rocha">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Washington Franca-Rocha</p>
                            <p class="subtitle is-6">Professor da UEFS</p>
                            <p>Mesa Redonda II - Ciência Aberta: "Geoportais: Geoinformação com dados abertos"</p>
                        </div>
                    </div>
    
                    <div class="content">
                        <p>
                            Professor Titular da Universidade Estadual de Feira de Santana (UEFS) e professor efetivo do Programa de Pós Graduação em Ciências da Terra e do Ambiente da UEFS, atuando em Modelagem Geospacial e Inteligência Geográfica. Coordena as equipe dos Geoportais MAPBIOMAS CAATINGA, MAPBIOMAS ARIDA, GEOCOVID e Portal Agro Bahia.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="{{ '/images/guests/mesa2-rodrigo-tripodi.jpg'|url }}" alt="Foto do Rodrigo Tripodi Calumby">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Rodrigo Tripodi Calumby</p>
                                <p class="subtitle is-6">Professor da UEFS</p>
                                <p>Mesa Redonda II - Ciência Aberta "Dados Abertos e Ciência de Dados"</p>
                            </div>
                        </div>
        
                        <div class="content">
                            <p>
                                Bacharel, Mestre e Doutor em Ciência da Computação. Professor nas áreas de Mineração de Dados e Machine Learning da Universidade Estadual de Feira de Santana (UEFS) e docente do Programa de Pós-Graduação em Ciência da Computação (PGCC/UEFS). Seus principais interesses de pesquisa incluem: Ciência de Dados, Recuperação da Informação, Classificação de Dados Multimídia, Fusão de Dados, Aprendizado de Máquina, Recuperação Interativa e Computação Aplicada à Saúde.
                            </p>
                        </div>
                        <a href="https://www.linkedin.com/in/rtcalumby">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="{{ '/images/guests/hackathon-jessica-temporal.jpeg'|url }}" alt="Foto da Jessica Temporal">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Jessica Temporal</p>
                                <p class="subtitle is-6">Especialista em ciência de dados no iFood</p>
                                <p>Jurada no Hackathon</p>
                            </div>
                        </div>

                        <div class="content">
                            <p>
                                Jessica Temporal é especialista em ciência de dados no iFood, co-fundadora do Pizza de Dados, o primeiro e mais querido podcast brasileiro sobre ciência de dados, faz parte do time instrutores do Data Bootcamp e do LinkedIn Learning. É participante ativa do PyLadies e se mantém aquecida no sul do Brasil com o tricô que ela mesma faz.
                            </p>
                        </div>
                        <a href="https://twitter.com/jesstemporal">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                        <a href="https://jtemporal.com">
                            <ion-icon name="globe-outline"></ion-icon>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="{{ '/images/guests/hackathon-vivian-macedo.jpg'|url }}" alt="Foto da Vivian Macedo">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Vivian Macedo</p>
                                <p class="subtitle is-6">Analista de dados no iib Institut Innovatives Bauen Dr. Hettenbach</p>
                                <p>Jurada no Hackathon</p>
                            </div>
                        </div>

                        <div class="content">
                            <p>
                                Analista de dados, formada em Jornalismo. Trabalha com análise de dados desde 2013 pois acredita no poder dos números em trazer respostas e guiar a criatividade das pessoas.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="{{ '/images/guests/hackathon-dandara-barreto.jpeg'|url }}" alt="Foto da Dandara Ceo Barreto">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Dandara Ceo Barreto</p>
                                <p class="subtitle is-6">Rádio Globo</p>
                                <p>Jurada no Hackathon</p>
                            </div>
                        </div>

                        <div class="content">
                            <p>
                                Jornalista, diretora de jornalismo do grupo lomes de rádio, âncora do programa café das seis na rádio globo Ssa.
                            </p>
                        </div>
                        <a href="https://www.twitter.com/dandaraceo">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</section>

<section id="support">
    <div>
        <header>
            <h2 class="title is-2">{{ this.support_scheme_heading }}</h2>
            {{ this.support_scheme_body }}

            <p>{{ this.support_scheme_body_2 }}</p>
            <p>{{ this.support_scheme_body_4 }}</p>
            <p>{{ this.support_scheme_body_5 }}</p>
        </header>

        <div class="field is-grouped">
            <p class="control">
                <a class="button is-info" href="https://docs.google.com/document/d/13q9re5JmH1NKFX0PlANa2Ijuh_ZAP6moHmDELdRpUx4/edit?usp=sharing" rel="external">Veja o regulamento</a>
                <a class="button is-success" href="https://forms.gle/BLC1zhKDbH3NGBnp9" rel="external">Inscreva-se aqui</a>
            </p>
        </div>
    </div>
</section>

<section id="logos">
    <div>
        <header>
            {{ this.support_scheme_logos }}
        </header>
        <ul>
            <li>
                <span>
        <a href="https://www.dadosabertosdefeira.com.br">
        <img src="https://github.com/DadosAbertosDeFeira/opendataday/raw/main/assets/images/dados-abertos-de-feira-branco.png">
        </a>
      </span>
            </li>
            <li>
                <span>
        <a href="https://pgcc.uefs.br/">
        <img src="https://github.com/DadosAbertosDeFeira/opendataday/raw/main/assets/images/pgcc-perfilbranco.png">
        </a>
      </span>
            </li>
            </li>
        </ul>
    </div>
</section>

{% endblock %}
